name: CI tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup UV_PYTHON
        run: echo "UV_PYTHON=${{ matrix.python-version }}" >> $GITHUB_ENV
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Test with pytest
        run: uv run pytest tests --cov=pkglite --cov-report=xml

      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     name: "py${{ matrix.python-version }}"
      #     token: ${{ secrets.CODECOV_TOKEN }}

  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup UV_PYTHON
        run: echo "UV_PYTHON=${{ matrix.python-version }}" >> $GITHUB_ENV
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Test with pytest
        run: uv run pytest tests --cov=pkglite --cov-report=xml
