name: Mypy check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Setup UV_PYTHON
        run:
          echo "UV_PYTHON=$(cat .python-version)" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          uv sync --dev

      - name: Run Type Checks
        run: |
          uv run mypy .
